/*----------- CUSTOM ----------- */  

html, body{
  height: 100%;
}

body{
  padding-top: 80px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px!important;
}

.clear{
  clear:both;
}

p{
  line-height: 2;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  border: 3px solid #3498db!important;
}

h2.section-title{
  margin: 0 0 20px 0;
  padding-top: 0;
}

.panel{
  background: #eee;
  padding: 20px;
  border-radius: 10px; 
}


.nav-header{
  color: #3498db;
  font-size: 16px;
  padding: 10px;
  text-align: center;}
  
.navbar-inverse .nav .active > a:hover , .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus{
  background: #3498db!important;
  color: white;
}

.btn-navbar{
  background: #3498db!important;
  margin-top: 13px!important;
}

.navbar-inverse .navbar-text {
  color: #3498db;
}

.navbar-text{
  padding-top: 5px;
}


.btn.btn-info{
  margin-bottom: 20px;
}

.btn.active {
background-color: #3498db!important;
color: #fff;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}


.btn-group > .btn:first-child {
margin-left: 0;
-webkit-border-bottom-left-radius: 8px;
border-bottom-left-radius: 8px;
-webkit-border-top-left-radius: 8px;
border-top-left-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-topleft: 8px;}

.btn-group > .btn:last-child{
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
}

.nav-list > .active > a{
  background: #3498db;
}

.well ul.nav li a{
  line-height: 2;
  text-decoration: none!important;
}

.well ul.nav li a:hover{
  color: gray;
  background: white;
}

h3.subject-title{
  padding-left: 10px;
  padding-top: 2px;
}

#addition a:hover{
  color: #eee;

}

#addition a{
  color: white;
  text-decoration: none;
}

#addition{
  color: white;
  background: #3498db;
  padding: 3px;
  line-height: 2;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 3px 33px;
  width: 75px
}

#addition:hover{
  background:#34495e;
}


#subjectControl{
  background: #3498db;
  min-height: 45px;
  border-radius: 10px;
  margin-bottom: 25px;
}

#subjectControl a{
  color: #eee!important;
}

#subjectControl a:hover{
  color: #fff!important;
}

#icons {
  padding: 10px;
}


#icons i.last {
  margin-right: 0px;
}


#subjectControl .span5 h2{
  line-height: 1;
}

.row-fluid .span6{
  width: 46.7%!important;
}

.ui-slider .ui-slider-range{
  background: #3498db;
  border: none!important;
}

.ui-widget-content{
  border: none!important;
  background: #34495e!important;
  border-radius: 10px!important;
}

a.ui-slider-handle{
  border: none!important;
  background: #3498db!important;
  border-radius: 10px!important;
  margin-top: 1px;
}

.ui-slider-range-max{
  background: #34495e!important;
  border-radius: 10px;
}

.ui-slider-range-max .ui-widget-content{
  background: #3498db!important;
}

input#amount{
  color: #34495e!important;
  padding: 3px 4px 3px 3px;
  border: 3px solid #3498db!important;
  width: 40px!important;
  text-align: center;
}

footer{
  background: #eee!important;
  padding-bottom: 10px;
}

footer ul.footer-links{
  width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;

}

footer ul.footer-links li{
  float: left;
  text-align: center;
  list-style: none;
}

footer a{
  display: block;
  padding-left: 20px;
  padding-top: 5px;
}

footer a:hover{
  color: #3498db;
}

p.footer-copy {
    font-size: 15px;
    text-align: center;
 }

#push,
footer {
        height: 80px!important;
      }
     

h3.subject-title{
  color: white;
  letter-spacing: 1px;
}




/*----------- Media Queries ----------- */



/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
p , .well ul.nav li a{font-size: 8px;}
#icons i {
  margin-right: 8%;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
p , .well ul.nav li a{font-size: 8px;}
#icons i {
  margin-right: 8%;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
p , .well ul.nav li a{font-size: 11px;}
#icons i {
  margin-right: 5%;
}
h3.subject-title{
    font-size: 19px!important;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
p , .well ul.nav li a{font-size: 10px;}
#icons i {
  margin-right: 4%;
}

h3.subject-title{
    font-size: 19px!important;
  }
}

@media (min-width: 768px) and (max-width: 910px) {
  #icons i {margin-right: 0%!important;}
  a#lib-btn{ font-size: 12px!important;
}
}


/* iPads (portrait and landscape) ----------- */
@media (min-width: 910px) and (max-width: 1035px) {
p , .well ul.nav li a{font-size: 10px;}
#icons i {
  margin-right: 3%;
}

h3.subject-title{
    font-size: 19px!important;
}

#addition{
  width: 75px!important;
}

.horizontal .row-fluid .span1,
.horizontal .row-fluid .span2,
.horizontal .row-fluid .span3,
.horizontal .row-fluid .span4,
.horizontal .row-fluid .span5,
.horizontal .row-fluid .span6,
.horizontal .row-fluid .span7,
.horizontal .row-fluid .span8,
.horizontal .row-fluid .span9
{
 
    float: none!important;
    width: 80%!important;
}

a#lib-btn{
  font-size: 12px!important;
}

h3.subject-title{
  font-size: 12px!important;
}

}

/* Desktops and laptops */
@media (min-width : 1124px) and (max-width : 1523px) {
  
p , .well ul.nav li a{font-size: 13px;}
#icons i {
  margin-right: 5%;
}

 h3.subject-title{
    font-size: 20px!important;
  }

}

@media only screen 
and (min-width : 1524px) and (max-width: 1823px) {
p , .well ul.nav li a{font-size: 15px;}
#icons i {
  margin-right: 5%;
}
  
h3.subject-title{
    font-size: 22px!important;
  }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px){

.well ul.nav li a {font-size: 20px!important;}

p {font-size: 20px!important;}

#icons i {
  margin-right: 8%;
}

h3.subject-title{
    font-size: 26px!important;
  }
  
a#lib-button{font-size:16px;}



}



